<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>食物管理</title>

  <!-- 引入axios套件，用來透過HTTP協定在網頁內呼叫後端的API -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- 引入Vue.js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- 引入Element UI介面庫-->
  <!-- Import style -->
  <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
  <!-- Import Vue 3 -->
  <script src="//unpkg.com/vue@3"></script>
  <!-- Import component library -->
  <script src="//unpkg.com/element-plus"></script>

  <link rel="stylesheet" href="css/demo-pagination.css">

</head>

<body id="app">
  
  <!-- 搜尋 -->
  <form v-on:submit.prevent="onSearch" autocomplete="off">
    <label for="search" >Search</label>
    <input id="search" type="search" v-model="keyword">
    <span class="caret"></span>
  </form>
  
  <br/>
  <table>
    <thead>
      <tr>
        <th>名稱</th>
        <th>類別</th>
        <th style="display: flex; height: 60px; align-items: center; justify-content: center;"
          @click="onChangeCaloriesMode">
          卡洛里<div v-if="caloriesArrowMode != 0" :class="[caloriesArrowMode == 1 ? '':'arrow-down']">⯅</div>
        </th>
        <th>蛋白質</th>
        <th>飽和脂肪</th>
        <th>總碳水化合物</th>
        <th>膳食纖維</th>
      </tr>
      <thead>
      <tbody>
        <tr v-for="item in foods">
          <td>{{ item.name }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.calories }}</td>
          <td>{{ item.protein }}</td>
          <td>{{ item.saturatedFat }}</td>
          <td>{{ item.totalCarbohydrates }}</td>
          <td>{{ item.dietaryFiber }}</td>
        </tr>
      </tbody>
  </table>
  <br />
  <!-- @size-change事件: 重新打API要資料，把目前頁數設定回第一頁-->
  <el-pagination background layout="prev, pager, next, sizes" 
      :total="total" 
      :page-sizes="[12, 24, 50, 100]"
      style="justify-content: center;"
      @size-change="onSizeChange"  
      @current-change="onCurrentChange" 
      @prev-click="onPrevClick" 
      @next-click="onNextClick"
      v-model:current-page="currentPage" 
      v-model:page-size="pageSize" />

</body>

<script type="module">

  // Vue初始化
  const { createApp } = Vue
  
  createApp({
    data() {
      // 網頁要使用的變數放這裡
      return {
        message: 'Hello Vue!',
        foods: [],
        currentPage: 1,  // 目前在哪一頁
        pageSize: 12,
        total: 0,
        caloriesArrowMode: 0, // 0=不排序, 1=由大到小, 2=由小到大
        keyword: '',
      }
    },
    watch: {
      currentPage(newVal, oldVal) {
        // alert(newVal);
      },
      pageSize(newVal, oldVal) {
        // alert(newVal);
      },
    },
    // 當網頁載入完成後會被Vue框架呼叫
    mounted() {
      this.fetch();
    },
    // 網頁要用的方法寫在這裡
    methods: {
      onSearch() {
        // 打API要搜尋資料
        // 打API
        axios.get('/v1/food/category?keyword=' + this.keyword + '&keyvalue=&page=' + this.currentPage + '&count=' + this.pageSize + "&caloriesSortMode=" + this.caloriesArrowMode)
          .then((response) => {
            // get完成後收到的資料可以在這裡處理
            console.log(response);
            // 將API的商品資料存到Vue建立的products變數
            if (response.data.code == 0) {
              // 將API拿到的data存到Vue變數
              this.total = response.data.data.total;
              this.foods = response.data.data.foods;
            }
          })
          .catch((error) => {
            console.log(error);
          });
      },
      // 改變卡洛里排序模式
      onChangeCaloriesMode() {
        this.currentPage = 1;

        if(this.caloriesArrowMode == 0) this.caloriesArrowMode = 1;        
        else if(this.caloriesArrowMode == 1) this.caloriesArrowMode = 2;
        else
          this.caloriesArrowMode = 0;

        // 重新打API排序
        if(this.keyword.length > 0) {
          this.onSearch();
        } else 
          this.fetch();
      },
      onSizeChange(size) {
        this.currentPage = 1;
        if(this.keyword.length > 0) {
          this.onSearch();
        } else 
          this.fetch();
      },
      onCurrentChange() {
        if(this.keyword.length > 0) {
          this.onSearch();
        } else 
          this.fetch();
      },
      // 分頁被點擊了上一頁
      onPrevClick(page) {

      },
      // 分頁被點擊了下一頁
      onNextClick(page) {
       
      },
      fetch() {
        // 打API
        axios.get('/demo/foods?page=' + this.currentPage + '&count=' + this.pageSize + "&caloriesSortMode=" + this.caloriesArrowMode)
          .then((response) => {
            // get完成後收到的資料可以在這裡處理
            console.log(response);
            // 將API的商品資料存到Vue建立的products變數
            if (response.data.code == 0) {
              // 將API拿到的data存到Vue變數
              this.total = response.data.data.total;
              this.foods = response.data.data.foods;
            }
          })
          .catch((error) => {
            console.log(error);
          });
      }
    }
  }).use(ElementPlus).mount('#app')
</script>

</html>