<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>食物管理</title>
  
  <!-- 引入axios套件，用來透過HTTP協定在網頁內呼叫後端的API -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- 引入Vue.js -->
  <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->

  <link
    rel="stylesheet"
    href="//cdn.jsdelivr.net/npm/element-plus/dist/index.css"
  />
  <!-- Import Vue 3 -->
  <script src="//cdn.jsdelivr.net/npm/vue@3"></script>
  <!-- Import component library -->
  <script src="//cdn.jsdelivr.net/npm/element-plus"></script>

  <link rel="stylesheet" href="food-style.css">
  <link rel="stylesheet" href="food2-style.css">

</head>

<body id="app">
  <div class="btn" @click="onAdd">新增</div>
  <el-button type="primary" @click="addDataModal = true">新增</el-button>
  
  <table>
    <thead>
      <tr>
        <th>名稱</th>
        <th>類別</th>
        <th>採購日</th>
        <th>到期日</th>
        <th>數量</th>
      </tr>
      <thead>
      <tbody>
        <tr v-for="item in foods">
          <td @click="onShowDetail(item.id)" class="can-click">{{ item.name }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.buyDate }}</td>
          <td>{{ item.expDate }}</td>
          <td>{{ item.quantity }}</td>
        </tr>
      </tbody>
  </table>
  <blockquote> Responsive Table </blockquote>

  <!-- 對話盒的淡黑色背景 -->
  <div v-if="showFoodDetailModal || addDataModal" class="mask"></div>

  <!-- 這是對話視窗的開始 -->
  <div v-if="showFoodDetailModal" class="table">
    <h2 class="heading">
      {{ foodDetail.name }}
    </h2>
    <div class="block">
      <p>類別
        <span class="price">{{ foodDetail.category }}
          <sub></sub>
        </span>
        <!-- <ul class="options">
            <li>( 4 Sessions - 3 hrs per Session )</li>
        </ul> -->
      </p>
    </div>
    <div class="block">
      <p>熱量
        <span class="price">{{ foodDetail.calories}}
          <sub>卡</sub>
        </span>
        <!-- <ul class="options">
            <li>( 8 Sessions - 3 hrs per Session )</li>
        </ul> -->
      </p>
    </div>
    <div class="block">
      <p>蛋白質
        <span class="price">{{ foodDetail.protein }}
          <sub>克</sub>
        </span>
      <ul class="options">
        <li>蛋白質就是蛋白質</li>
      </ul>
      </p>
    </div>
    <div class="block">
      <p>飽和脂肪
        <span class="price">{{ foodDetail.saturatedFat }}
          <sub>克</sub>
        </span>
      <ul class="options">
        <li>飽和脂肪吃太多不好(錯的)</li>
      </ul>
      </p>
    </div>
    <div class="block">
      <p>總碳水化合物
        <span class="price">{{ foodDetail.totalCarbohydrates }}
          <sub>克</sub>
        </span>
      <ul class="options">
        <li>total_carbohydrates</li>
      </ul>
      </p>
    </div>
    <div class="block">
      <p>膳食纖維
        <span class="price">{{ foodDetail.dietaryFiber }}
          <sub>克</sub>
        </span>
      <ul class="options">
        <li>dietary fiber</li>
      </ul>
      </p>
    </div>
    <button class="btn">
      <p @click="showFoodDetailModal = false">關閉</p>
      <!-- <span class="fa fa-cart-plus" aria-hidden="true"></span> -->
    </button>
  </div>
  <!-- 這是對話視窗的結束 -->
  <div v-if="addDataModal" class="table">
    <h2 class="heading">
      新增資料
    </h2>
    <div class="block">
      <p>食品名稱
        <span class="price">
          <el-select v-model="form.name" placeholder="Activity zone">
            <el-option label="Zone one" value="shanghai" />
            <el-option label="Zone two" value="beijing" />
            <el-option label="Zone three" value="beijing" />
          </el-select>
        </span>
      
      </p>
    </div>

    <el-select v-model="form.name" placeholder="Activity zone">
      <el-option label="Zone one" value="shanghai" />
      <el-option label="Zone two" value="beijing" />
      <el-option label="Zone three" value="beijing" />
    </el-select>

    <div class="block">
      <p>食品名稱
        <span class="price">
          <el-select v-model="form.name" placeholder="Activity zone">
            <el-option label="Zone one" value="shanghai" />
            <el-option label="Zone two" value="beijing" />
            <el-option label="Zone three" value="beijing" />
          </el-select>
        </span>
      
      </p>
    </div>

    <div class="block">
      <p>食品名稱
        <span class="price">
          <el-select-v2 v-model="form.name" placeholder="Activity zone" :options="[{value:'1', label:'hi'}, {value:'12', label:'hi2'}]">
            
        </span>
      
      </p>

      <el-date-picker
            v-model="form.date1"
            type="date"
            label="Pick a date"
            placeholder="Pick a date"
            style="width: 100%"
            value-format="YYYY-MM-DD"
          />
    </div>

    <el-button type="primary" @click="addDataModal = false, onAdd()">OK</el-button>
  </div>
  
</body>

<script>


  // Vue初始化
  const { createApp } = Vue

  createApp({
    data() {
      // 網頁要使用的變數放這裡
      return {
        message: 'Hello Vue!',
        foods: [],
        foodDetail: {},
        showFoodDetailModal: false,
        addDataModal: false,
        form: {
          name: 'hi',
          date1: null,
        }
      }
    },
    // 當網頁載入完成後會被Vue框架呼叫
    mounted() {
      // 打API
      axios.get("/foods")
        .then((response) => {
          // get完成後收到的資料可以在這裡處理
          console.log(response);
          // 將API的商品資料存到Vue建立的products變數
          if (response.data.code == 0) {
            // 將API拿到的data存到Vue變數
            this.foods = response.data.data;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    // 網頁要用的方法寫在這裡
    methods: {
      // 新增資料
      onAdd() {
        alert(this.form.date1);
      },
      // 蔬果名稱被點擊時呼叫的方法
      onShowDetail(food_id) {
        // 顯示食品詳細資訊的對話盒
        this.showFoodDetailModal = true;
        // alert('id=' + food_id + '被點擊了');

        axios.get("/foodDetail?id=" + food_id)
        .then((response) => {
          // get完成後收到的資料可以在這裡處理
          console.log(response);
          // 將API的商品資料存到Vue建立的products變數
          if (response.data.code == 0) {
            // 將API拿到的data存到Vue變數
            this.foodDetail = response.data.data;
          }
        })
        .catch((error) => {
          console.log(error);
        });
      }
    }
  }).use(ElementPlus).mount('#app')
</script>

</html>