<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <!-- 引入Vue.js -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>

    <body id="app">
        <div>{{ message }}</div>
        <input type="text" v-model="data.name"/>
        <input type="text" v-model="data.password"/>
        <input type="number" v-model="data.age"/>


        <h2>Youtube影片</h2>
        <iframe width="853" height="480" src="https://www.youtube.com/embed/_Bp28v1BlXU" title="Kenny G 케니지 색소폰 연주모음 20곡 - 케니지 베스트 히트곡 모음 -  색소폰 연주곡 모음" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="853" height="480" src="https://www.youtube.com/embed/7JCJ7aYikA4" title="Work Jazz | July Relaxing Summer Space with Smooth Jazz Piano for Work, Study, Focus" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </body>

    <script>
        const {createApp} = Vue

        createApp({
            data() {
                return {
                    message: 'Hello Page A',
                    data: {
                        name: '',
                        password: '',
                        age: 0,
                    }
                }
            },
            // 即時監看資料有無變動
            watch: {
                data: {
                    handler(newVla) {
                        // 將資料寫入localStorage
                        localStorage.setItem('myData', JSON.stringify(this.data));
                    },
                    deep: true
                }
            }
        }).mount('#app');

    </script>

</html>