<!DOCTYPE html>
<html lang="en">

<head>
	<!-- 樣板來源: https://codepen.io/HamzaGourram/pen/XWMEvgr -->
	<meta charset="UTF-8">
	<title>服飾網站</title>

	<!-- 引入axios套件，用來透過HTTP協定在網頁內呼叫後端的API -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- 引入Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- 引入Element UI介面庫-->
    <!-- Import style -->
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <!-- Import Vue 3 -->
    <script src="//unpkg.com/vue@3"></script>
    <!-- Import component library -->
    <script src="//unpkg.com/element-plus"></script>

	<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
	<link rel="stylesheet" href="./style.css">

</head>

<body id="app">
	<section class="section-products">
		<div class="container">
			<div class="row justify-content-center text-center">
				<div class="col-md-8 col-lg-6">
					<div class="header-group">
						<div class="header">
							<h3>Featured Product</h3>
							<h2>Popular Products</h2>
						</div>
						<h1 class="cart"><a href="cart.html"><i class="fas fa-shopping-cart"></i></a></h1>
					</div>
				</div>
				
			</div>
			<div class="row">
				<!-- Single Product -->
				<div v-for="(item, index) in product_items" class="col-md-6 col-lg-4 col-xl-3">
					<div id="product-1" class="single-product">
						<div class="part-1" :style="'background: url(' + item.image_url + '); background-size: cover;'">
							<span v-if="item.showDiscountBadge" class="discount">{{ item.discountBadgeMessage}}</span>
							<span v-if="item.showEventBadge" class="new">{{ item.eventBadgeMessage }}</span>
							<ul>
								<li><a href="#"><i class="fas fa-shopping-cart" @click="onAddCart(index)"></i></a></li>
								<li><a href="#"><i class="fas fa-heart"></i></a></li>
								<li><a href="#"><i class="fab fa-facebook"></i></a></li>
								<li><a href="#"><i class="fas fa-expand"></i></a></li>
							</ul>
						</div>
						<div class="part-2">
							<h3 class="product-title">{{ item.title }}</h3>
							<h4 class="product-old-price">${{ item.price }}</h4>
							<h4 class="product-price">${{ item.discount_price }}</h4>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- partial -->

</body>

<script>
	const {createApp} = Vue

	createApp({
		data() {
			return {
				message: 'Hello Page B',
				// API給的商品資訊放這裡
				product_items: [],

				// 新增到購物車裡面的商品
				cart_itmes: [],
			}
		},
		// 網頁載入完成會被呼叫的方法
		mounted() {
			// 打API要商品資訊(目前是假資料)
			this.product_items = [
				{
					id: 1,
					image_url: 'https://www.gu-global.com/tw/hmall/test/u0000000008561/main/first/561/1.jpg',
					title: '服飾一號',
					price: 500,
					discount_price: 375,
					showDiscountBadge: false,
					discountBadgeMessage: '',
					showEventBadge: false,
					eventBadgeMessage: '',
				},
				{
					id: 2,
					image_url: 'https://www.gu-global.com/tw/hmall/test/u0000000008565/main/first/561/1.jpg',
					title: '服飾2號',
					price: 400,
					discount_price: 275,
					showDiscountBadge: true,
					discountBadgeMessage: '75% OFF',
					showEventBadge: false,
					eventBadgeMessage: '',
				},{
					id: 3,
					image_url: 'https://www.gu-global.com/tw/hmall/test/u0000000008189/main/first/561/1.jpg',
					title: '服飾3號',
					price: 600,
					discount_price: 475,
					showDiscountBadge: false,
					discountBadgeMessage: '',
					showEventBadge: true,
					eventBadgeMessage: '新上架',
				},{
					id: 4,
					image_url: 'https://www.gu-global.com/tw/hmall/test/u0000000008091/main/first/561/1.jpg',
					title: '服飾4號',
					price: 800,
					discount_price: 575,
					showDiscountBadge: false,
					discountBadgeMessage: '',
					showEventBadge: false,
					eventBadgeMessage: '',
				},

			];
		},
		methods: {
			// 新增商品到購物車
			onAddCart(index) {
				let in_product = this.product_items[index];

				// 判斷購物車有沒有該商品了
				let isExists = false;
				for(let i in this.cart_itmes) {
					if(this.cart_itmes[i].id === in_product.id) {
						this.cart_itmes[i].count++;  // 已存在購物車, 數量+1
						isExists = true;
					} 
				}

				// 不存在，新增到購物車
				if(!isExists) {
					in_product.count = 1;
					this.cart_itmes.push(in_product);
				}

				console.log(JSON.stringify(this.cart_itmes, null, 2));

				// 將資料紀錄到localStorage
				localStorage.setItem('cart_items', JSON.stringify(this.cart_itmes));

				this.$message.success('已加入購物車！')
			}
		}
	}).use(ElementPlus).mount('#app');

</script>

</html>